.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: calc(100% - 200px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
